body {
    background-color: #F5F7FB;
}
.card {
    margin-left: 10px;
    margin-right: 10px;
}
.dashboard-card-title {
    text-align: center;
    text-decoration: none;
}
.dashboard-card:hover {
    box-shadow: 0 0.25rem 1rem rgba(48,55,66,.45);
    cursor: pointer;
    transition: linear all 0.15s;
    text-decoration: none;    
}
.brand, .brand:hover, .brand:visited, .brand:focus, .brand:active {    
    color : #302ecd!important;
}
.header-hero {
    padding-bottom: 2rem;
}
.menu-icon {
    width: 350px;
    margin-left: .35rem;
}
.brand:hover {
    text-decoration: none!important;
}
@media screen and (max-width:600px) {
    .menu-card {
        /* margin-top: .2em; */
        margin-bottom: 1em;
    }
    .header-hero {
        padding: 2rem .4rem;
    }
    .menu-icon {
        width: 20rem;
    }
}